In [8]:
cities = ['Tokyo','Los Angeles','New York','San Francisco']
print(cities)

['Tokyo', 'Los Angeles', 'New York', 'San Francisco']

In [10]:
print(cities[2])

New York

In [40]:
city_population = {
    'Tokyo' : 13350000,
    'Los Angeles' : 18550000,
    'New York' : 8400000,
    'San Francisco' : 1837442
}
print(city_population)

{'Los Angeles': 18550000, 'San Francisco': 1837442, 'New York': 8400000, 'Tokyo': 13350000}

In [21]:
print(city_population['Tokyo'])
print('San Francisco:', city_population['San Francisco'])
city_population['San Francisco'] = 837442
print('San Francisco:', city_population['San Francisco'])

13350000
San Francisco: 837442
San Francisco: 837442

In [23]:
city_population['Mumbai'] = 11980000
city_population

{'Los Angeles': 18550000,
 'Mumbai': 11980000,
 'New York': 8400000,
 'San Francisco': 837442,
 'Tokio': 13350000}

In [27]:
municipalities = {
    'New York City': [
        'Manhattan',
        'The Bronx',
        'Brooklyn',
        'Queens',
        'Staten Island'
    ],
    'Tokyo': [
        'Akihabara', 
        'Harajuku', 
        'Shimokitazawa', 
        'Nakameguro', 
        'Shibuya', 
        'Ebisu/Daikanyama', 
        'Shibuya District', 
        'Aoyama', 
        'Asakusa/Ueno', 
        'Bunkyo District', 
        'Ginza', 
        'Ikebukuro', 
        'Koto District', 
        'Meguro District', 
        'Minato District', 
        'Roppongi', 
        'Shinagawa District', 
        'Shinjuku', 
        'Shinjuku District', 
        'Sumida District', 
        'Tsukiji', 
        'Tsukishima']
}
print(municipalities)

{'New York City': ['Manhattan', 'The Bronx', 'Brooklyn', 'Queens', 'Staten Island'], 'Tokyo': ['Akihabara', 'Harajuku', 'Shimokitazawa', 'Nakameguro', 'Shibuya', 'Ebisu/Daikanyama', 'Shibuya District', 'Aoyama', 'Asakusa/Ueno', 'Bunkyo District', 'Ginza', 'Ikebukuro', 'Koto District', 'Meguro District', 'Minato District', 'Roppongi', 'Shinagawa District', 'Shinjuku', 'Shinjuku District', 'Sumida District', 'Tsukiji', 'Tsukishima']}

In [32]:
print(municipalities['Tokyo'][0])
print(municipalities['New York City'][3])

Akihabara
Queens

In [43]:
print(type(True))
print(type(municipalities))

print(city_population['Tokyo'] == 13350000)
print(city_population['Tokyo'] != 50000)

<class 'bool'>
<class 'dict'>
True
True