In [19]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import configparser

In [21]:
config = configparser.RawConfigParser()
config.read('database.ini')

dbname = config.get('DatabaseSection', 'database.dbname')
host = config.get('DatabaseSection', 'database.host')
user = config.get('DatabaseSection', 'database.user')
password = config.get('DatabaseSection', 'database.password')

red_engine = create_engine('postgresql://'+user+':'+password+'@'+host+':5439/'+dbname)
data = pd.read_sql_query('select * from public.country_dim', red_engine)
data

    countrykey                           countryname
0            0                             Undefined
1           AD                               ANDORRA
2           AE                  UNITED ARAB EMIRATES
3           AF                           AFGHANISTAN
4           AG                   ANTIGUA AND BARBUDA
5           AI                              ANGUILLA
6           AL                               ALBANIA
7           AM                               ARMENIA
8           AN                  NETHERLANDS ANTILLES
9           AO                                ANGOLA
10          AQ                            ANTARCTICA
11          AR                             ARGENTINA
12          AS                        AMERICAN SAMOA
13          AT                               AUSTRIA
14          AU                             AUSTRALIA
15          AW                                 ARUBA
16          AX                         ÅLAND ISLANDS
17          AZ                            AZERBAIJAN
18          BA                BOSNIA AND HERZEGOVINA
19          BB                              BARBADOS
20          BD                            BANGLADESH
21          BE                               BELGIUM
22          BF                          BURKINA FASO
23          BG                              BULGARIA
24          BH                               BAHRAIN
25          BI                               BURUNDI
26          BJ                                 BENIN
27          BL                      SAINT BARTHÉLEMY
28          BM                               BERMUDA
29          BN                     BRUNEI DARUSSALAM
..         ...                                   ...
217         TK                               TOKELAU
218         TL                           TIMOR-LESTE
219         TM                          TURKMENISTAN
220         TN                               TUNISIA
221         TO                                 TONGA
222         TR                                TURKEY
223         TT                   TRINIDAD AND TOBAGO
224         TV                                TUVALU
225         TW             TAIWAN, PROVINCE OF CHINA
226         TZ          TANZANIA, UNITED REPUBLIC OF
227         UA                               UKRAINE
228         UG                                UGANDA
229         UM  UNITED STATES MINOR OUTLYING ISLANDS
230         US                         UNITED STATES
231         UY                               URUGUAY
232         UZ                            UZBEKISTAN
233         VA         HOLY SEE (VATICAN CITY STATE)
234         VC      SAINT VINCENT AND THE GRENADINES
235         VE     VENEZUELA, BOLIVARIAN REPUBLIC OF
236         VG               VIRGIN ISLANDS, BRITISH
237         VI                  VIRGIN ISLANDS, U.S.
238         VN                               VIETNAM
239         VU                               VANUATU
240         WF                     WALLIS AND FUTUNA
241         WS                                 SAMOA
242         YE                                 YEMEN
243         YT                               MAYOTTE
244         ZA                          SOUTH AFRICA
245         ZM                                ZAMBIA
246         ZW                              ZIMBABWE

[247 rows x 2 columns]

In [25]:
data = pd.read_csv('data.csv')
data = data.fillna('') # replace missing values with strings for easier text processing

In [29]:
data['url'].head()

0                        https://watsi.org/
1    https://watsi.org/team/the-meteor-chef
2              https://watsi.org/gift-cards
3                        https://watsi.org/
4                        https://watsi.org/
Name: url, dtype: object

In [33]:
data[4:7]
data.ix[1]

referrer           https://themeteorchef.com/snippets/making-use-...
timestamp                                        2016-02-24 23:12:10
title                                        Watsi | The Meteor Chef
url                           https://watsi.org/team/the-meteor-chef
user_agent         Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
user_id                                                     WARREN Q
referrer_domain                                    themeteorchef.com
website_section                                                 team
platform                                                     Desktop
Name: 1, dtype: object

In [35]:
data['title'][:3]

0    Watsi | Fund medical treatments for people aro...
1                              Watsi | The Meteor Chef
2    Watsi | Give the gift of health with a Watsi G...
Name: title, dtype: object

In [36]:
data['referrer'][10:15]

10
11                        https://www.facebook.com/
12    https://watsi.org/profile/ef9cce891dc4-anibal
13
14         https://watsi.org/donor/settings/payment
Name: referrer, dtype: object