In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv('flights.csv')
data = data.fillna(np.nan)

In [7]:
data.sample(n=5)

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time
42209,2015-01-06 00:00:00,DL,1585.0,LGA,MCO,60.0,0.0,950.0,34.0,0.0,10.0,16.0,0.0,209.0
60473,2015-01-11 00:00:00,VX,910.0,LAS,BOS,238.0,0.0,2381.0,47.0,0.0,191.0,0.0,0.0,274.0
122865,2015-01-02 00:00:00,OO,5229.0,MSP,ORD,21.0,0.0,334.0,9.0,0.0,0.0,12.0,0.0,103.0
124107,2015-01-12 00:00:00,OO,5519.0,MSO,DEN,-5.0,0.0,679.0,NaN,NaN,NaN,NaN,NaN,122.0
9257,2015-01-11 00:00:00,AA,1330.0,DFW,DTW,11.0,0.0,986.0,NaN,NaN,NaN,NaN,NaN,151.0

In [9]:
data.sort_values(by='arr_delay', ascending=False)[:10]

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time
11073,2015-01-11 00:00:00,AA,1595.0,AUS,DFW,1444.0,0.0,190.0,1444.0,0.0,0.0,0.0,0.0,59.0
10214,2015-01-13 00:00:00,AA,1487.0,OMA,DFW,1392.0,0.0,583.0,1392.0,0.0,0.0,0.0,0.0,117.0
12430,2015-01-03 00:00:00,AA,1677.0,MEM,DFW,1384.0,0.0,432.0,1380.0,0.0,0.0,4.0,0.0,104.0
8443,2015-01-04 00:00:00,AA,1279.0,OMA,DFW,1237.0,0.0,583.0,1222.0,0.0,15.0,0.0,0.0,102.0
10328,2015-01-05 00:00:00,AA,1495.0,EGE,DFW,1187.0,0.0,721.0,1019.0,0.0,168.0,0.0,0.0,127.0
36570,2015-01-04 00:00:00,DL,1435.0,MIA,MSP,1174.0,0.0,1501.0,1174.0,0.0,0.0,0.0,0.0,231.0
36495,2015-01-04 00:00:00,DL,1367.0,ROC,ATL,1138.0,0.0,749.0,1112.0,0.0,0.0,26.0,0.0,171.0
59072,2015-01-14 00:00:00,DL,1687.0,SAN,MSP,1084.0,0.0,1532.0,1070.0,0.0,0.0,14.0,0.0,240.0
32173,2015-01-05 00:00:00,AA,970.0,LAS,LAX,1042.0,0.0,236.0,1033.0,0.0,9.0,0.0,0.0,66.0
56488,2015-01-12 00:00:00,DL,2117.0,ATL,COS,1016.0,0.0,1184.0,1016.0,0.0,0.0,0.0,0.0,193.0

In [11]:
data['delayed'] = data['arr_delay'].apply(lambda x: x > 0)
data['delayed'].value_counts()

False    103037
True      98627
Name: delayed, dtype: int64

In [13]:
not_delayed = data['delayed'].value_counts()[0] # first value of the result above
delayed = data['delayed'].value_counts()[1] # second value of the result above
total_flights = not_delayed + delayed # total count of flights
print(float(delayed) / total_flights) # converting to float to get a float result

0.48906597112

In [15]:
data['cancelled'].value_counts()

0.0    196873
1.0      4791
Name: cancelled, dtype: int64

In [16]:
not_delayed, delayed = data['cancelled'].value_counts()
print(delayed / (delayed + not_delayed), '<- without conversion')
print(float(delayed) / (delayed + not_delayed), '<- _with_ conversion!')

0.02375733894 <- without conversion
0.02375733894 <- _with_ conversion!