In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
data = pd.read_csv('flights.csv')
data = data.fillna(np.nan)

In [6]:
data.head()

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time
0,2015-01-02 00:00:00,AA,1.0,JFK,LAX,-19.0,0.0,2475.0,NaN,NaN,NaN,NaN,NaN,381.0
1,2015-01-03 00:00:00,AA,1.0,JFK,LAX,-39.0,0.0,2475.0,NaN,NaN,NaN,NaN,NaN,358.0
2,2015-01-04 00:00:00,AA,1.0,JFK,LAX,-12.0,0.0,2475.0,NaN,NaN,NaN,NaN,NaN,385.0
3,2015-01-05 00:00:00,AA,1.0,JFK,LAX,-8.0,0.0,2475.0,NaN,NaN,NaN,NaN,NaN,389.0
4,2015-01-06 00:00:00,AA,1.0,JFK,LAX,25.0,0.0,2475.0,0.0,0.0,0.0,25.0,0.0,424.0

In [18]:
# just a try with several functions for values
delays_list = ['carrier_delay','weather_delay','late_aircraft_delay','nas_delay','security_delay']
flight_delays_by_day = data.pivot_table(index='flight_date', values=delays_list, aggfunc={'carrier_delay':np.sum, 'weather_delay':np.sum, 'late_aircraft_delay':np.mean, 'nas_delay':np.mean, 'security_delay':np.sum})
flight_delays_by_day

,carrier_delay,late_aircraft_delay,nas_delay,security_delay,weather_delay
flight_date,,,,,
2015-01-02 00:00:00,76143.0,21.317207,9.005254,258.0,7357.0
2015-01-03 00:00:00,122652.0,26.525643,13.782660,950.0,14252.0
2015-01-04 00:00:00,142667.0,31.864547,15.452955,380.0,16784.0
2015-01-05 00:00:00,101335.0,26.294995,14.294107,197.0,20438.0
2015-01-06 00:00:00,92383.0,28.462557,17.223935,372.0,26299.0
2015-01-07 00:00:00,66708.0,22.112744,14.835132,165.0,17763.0
2015-01-08 00:00:00,74861.0,26.855823,18.485873,510.0,33015.0
2015-01-09 00:00:00,80123.0,26.280862,11.877020,182.0,15076.0
2015-01-10 00:00:00,50056.0,17.287712,6.972028,116.0,5683.0
2015-01-11 00:00:00,63051.0,26.642197,12.194943,164.0,12828.0
2015-01-12 00:00:00,81944.0,25.970956,16.471140,56.0,18678.0
2015-01-13 00:00:00,49557.0,19.288743,11.319079,118.0,4074.0
2015-01-14 00:00:00,42136.0,18.260073,9.395081,173.0,6176.0